{% extends "base.html" %}

{% block content %}
<div class="row d-flex justify-content-center mt-5 mb-5">
	<div class="col-6">

<h3>Categories <a class="ms-3 btn btn-primary" href="{% url 'expenses:category-create' %}">Add new</a></h3>
<hr>
<table class="table table-striped">
	<thead>
		<tr>
			<th>name</th>
			<th>items count</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for obj in object_list %}
		<tr>
			<td>
				{{obj.name}}
			</td>
			<td>
				{{obj.items_count}}
			</td>
			<td>
				<a class="btn btn-success" href="{% url 'expenses:category-edit' obj.id %}">edit</a>
				<a class="btn btn-danger" href="{% url 'expenses:category-delete' obj.id %}">delete</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

</div>
</div>
{% include "_pagination.html" %}
{% endblock %}
