{% extends "base.html" %}

{% block content %}

<div class="row d-flex justify-content-center mt-5 mb-5">
	<div class="col-3 col-md-4 col-sm-12">
		<h3 class="mb-4">Search</h3>
		<hr>
		<form method="get" action="">
		{% for field in form %}
		<div class="mb-3">
			<label class="form-label">{{field.label}}</label>
		{{field}}
		</div>
		{% endfor %}
		<button class="btn btn-primary mt-3 mb-5" type="submit">Search</button>
		</form>
	</div>
	<div class="col-6 col-md-8 col-sm-12">
		<h3 class="mb-3">Expenses <a class="btn btn-primary ms-3" href="{% url 'expenses:expense-create' %}">Add new</a></h3>
		<hr>
		<table class="table table-striped">
			<thead>
			<tr>
				<th>no.</th>
				<th>category</th>
				<th>name</th>
				<th>amount</th>
				<th>date</th>
				<th>actions</th>
			</tr>
			</thead>
			<tbody>
		
			{% for obj in object_list %}
			<tr>
				<td>{{ page_obj.start_index|add:forloop.counter0 }}.</td>
				<td>{{ obj.category|default:"-" }}</td>
				<td>{{ obj.name|default:"-" }}</td>
				<td>{{ obj.amount|floatformat:2 }}</td>
				<td>{{obj.date}}</td>
				<td>
				<a class="btn btn-success" href="{% url 'expenses:expense-edit' obj.id %}">edit</a>
				<a class="btn btn-danger" href="{% url 'expenses:expense-delete' obj.id %}">delete</a>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="3">no items</td>
			</tr>
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th colspan="5" scope="row">Subtotal amount (search results)</th>
					<td><strong>{{subtotal_value}}</strong></td>
				</tr>
				<tr>
					<th colspan="5" scope="row">Total amount (all expenses)</th>
					<td><strong>{{total_value}}</strong></td>
				</tr>
			</tfoot>
		</table>
	
	{% include "_pagination.html" %}
		
	</div>
	<div class="col-3 col-md-12 col-sm-12">
		<h4 class="mb-4">Summary per category</h3>
		<hr>
		<table class="table table-striped">	
			<thead>
			  <tr>
				<th>category</th>
				<th>month</th>
			  </tr>
			</thead>
			<tr>
			  {% for category, total in summary_per_category.items %}
			  <tr>
				  <td>{{category}}</td>
				  <td>{{total|floatformat:2}}</td>
			  </tr>
			  {% endfor %}
			</tr>
			<tfoot>
			  <tr>
				
				  <th scope="row">Subtotal</th>
				  <td><strong>{{subtotal_value}}</strong></td>
				
			  </tr>
		  </tfoot>
		  </table>
		  
		  <h4 class="mb-4 mt-5">Summary per year/month</h4>
		  <hr>
		  <table class="table table-striped">
			<thead>
			  <tr>
				<th>year</th>
				<th>month</th>
				<th>amount</th>
			  </tr>
			</thead>
			<tr>
			  {% for period in summary_per_period %}
			  <tr>
				  <td>{{period.year}}</td>
				  <td>{{period.month}}</td>
				  <td>{{period.total|floatformat:2}}</td>
			  </tr>
			  {% endfor %}
			</tr>
			<tfoot>
			  <tr>
				
				  <th colspan="2" scope="row">Subtotal</th>
				  <td><strong>{{subtotal_value}}</strong></td>
				
			  </tr>
		  </tfoot>
		  </table>
	</div>
</div>
{% endblock %}
